/* * {
	border: solid 1px;
}  */
import "@fontsource/spectral";

body, h1, h2, h3, h4 {
	background-color: #efe6d0;
	margin: 0;
	padding: 0;
}

body {
	background-color: #efe6d0;
	font-family: 'Spectral';
	color: #302121;
}

h1 {
	color: #302121;
	font-size: 400%;
	text-align: center;
}

h2 {
	color: gray;
	font-size: 200%;
	text-align: center;
	font-weight: lighter;
	margin-top: 1.5%;
	margin-bottom: 2%;
	/* upper cases */
	/* font-variant: small-caps; */
}

h3 {
	font-size: 170%;
	text-align: left;
	color: gray;
	font-weight: lighter;
	margin-top: 2%;
	margin-bottom: 2%;
}


h4 {
	font-size: 115%;
	text-align: left;
	color: #212121;
	margin-top: 3%;
	margin-bottom: 0.5%;
}

span.h4 {
	font-weight: lighter;
}

nav {
	font-family: 'Spectral';
	font-size: 110%;
	position: fixed;
 	top: 0;
  	width: 100%;
  	background-color: #302121;
}

a {
	font-size: 100%;
	color: #3b1d14;
}

a:hover {
  color: #734e4c;
  text-decoration: none;
}


nav a {
	display: inline-block;
	float: left;
	font-size: 110%;
  	color: white;
  	text-align: center;
  	padding: 10px 16px;
  	text-decoration: none;

}

/* changes color */
nav a:hover {
  background-color: #291717;
  color: white;
}

#lan {
	float: right;
	font-variant: small-caps; 
}

#current {
	background-color: #64563c;
}


.email {
	text-align: center;
	text-decoration: none;
}

div.email {
 margin: 0 auto;
}

.icons {
	color: #3b1d14;
	text-align: center;
	text-decoration: none;
}

a.icons:hover {
  color: #734e4c;
}

#header {
	background: url("https://raw.githubusercontent.com/alkrasnokutskaya/alkrasnokutskaya.github.io/main/image/birb.jpgxxx");
	background-size: cover;
}

#header h1 {
	margin: 0;
	padding: 100px 0px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

#main-content, footer {
	width: 65%;
	margin: 0 auto;
	padding: 10px 0px;
}

div {
	/* border: solid 1px; */
	display: block;
}


#subheader {
	border-image:url("https://raw.githubusercontent.com/alkrasnokutskaya/alkrasnokutskaya.github.io/main/image/owlbrach.jpg");
	border-image-width: 0 0 3px 0;
	width: 100%;
	margin-bottom: 5px;
}

#rd {
    position: absolute;
    height: 50px;
    width: 68%;
    top: 300px;
    background: url("https://raw.githubusercontent.com/alkrasnokutskaya/alkrasnokutskaya.github.io/main/image/owlbrach.jpg") left repeat-x;

    background-size: auto 69%;
}

.cols {
	display: table;
	margin-top: 20px;
	margin-bottom: 20px;
}

#left-col {
	display: table-cell;
	vertical-align: top;
	width: 30%;
	/* display: table-cell; */
}

#photo {
	width: 80%;
}

#right-col {
	display: table-cell;
	vertical-align: top;
	width: 68%;
	/* display: table-cell; */
}

p {
	font-size: 110%;
	line-height: 120%;
	text-align: justify;
	margin-top: 0;
	margin-bottom: 15px;
	vertical-align: top;
}

#rd1 {
    height: 50px;
    width: 69%;
    top: 300px;
    background: url("https://raw.githubusercontent.com/alkrasnokutskaya/alkrasnokutskaya.github.io/main/image/owlbrach.jpg") left repeat-x;

    background-size: auto 69%;
}

footer {
	/* *
	border: 50px solid transparent;
	border-style: solid;
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-width: 68%;
	border-image: url("https://raw.githubusercontent.com/alkrasnokutskaya/alkrasnokutskaya.github.io/main/image/owlbrach.jpg");
	border-image-repeat: repeat;
	border-image-slice: 100; */
	font-size: 80%;
	clear: both;
	margin-bottom: 2%;
}

div.footer {
	margin-top: 3px;
	display: block;
	text-align: center;
}
